<settings>
    <setting propertyKey="@Properties.primaryColor" title="@Strings.primaryColorTitle">
        <settingConfig type="alphaNumeric"/>
    </setting>
    <setting propertyKey="@Properties.secondaryColor" title="@Strings.secondaryColorTitle">
        <settingConfig type="alphaNumeric"/>
    </setting>
    <setting propertyKey="@Properties.inactiveColor" title="@Strings.inactiveColorTitle">
        <settingConfig type="alphaNumeric"/>
    </setting>
    <setting propertyKey="@Properties.textColor" title="@Strings.textColorTitle">
        <settingConfig type="alphaNumeric"/>
    </setting>
    <setting propertyKey="@Properties.linesColor" title="@Strings.linesColorTitle">
        <settingConfig type="alphaNumeric"/>
    </setting>
    <setting propertyKey="@Properties.backgroundColor" title="@Strings.backgroundColorTitle">
        <settingConfig type="alphaNumeric"/>
    </setting>
    <setting propertyKey="@Properties.chartColor" title="@Strings.chartColorTitle" prompt="@Strings.chartColorPrompt">
        <settingConfig type="list">
            <listEntry value="1">@Strings.primary</listEntry>
            <listEntry value="0">@Strings.secondary</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.batteryInDays" title="@Strings.batteryInDaysTitle">
        <settingConfig type="boolean"/>
    </setting>
    <setting propertyKey="@Properties.showSeconds" title="@Strings.showSecondsTitle">
        <settingConfig type="boolean"/>
    </setting>
    <setting propertyKey="@Properties.showHrChart" title="@Strings.showHrChartTitle">
        <settingConfig type="boolean"/>
    </setting>
</settings>
